

.newstape a { color: #F5F7FA; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-justify { text-align: justify; }

.newstape {
  background-color: #E0CB0D;
  color: #fff;
  overflow: hidden;
  height: 400px;
}

.newstape-content {
  position: relative;
  padding: 15px;
}

.newstape-drag { cursor: ns-resize; }
